<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS<%= ' - ' + yield(:title) if content_for?(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:script) %>
  </head>

  <body>

    <header>
      <span id="logo">Simple CMS</span>
      <% if session[:user_id].present? %>
        <span style="float: right;">
          User: <%= @username %>
          <%= link_to(logout_path, method: :delete) do %>
            <%= image_tag('icon_logoff.png', size: '14x14', title: 'logout') %>
          <% end %>
        </span>
      <% end %>
    </header>

    <div id="content">
      <%= render(partial: 'application/flash') %>
      <%= yield %>
    </div>

    <footer>
      Copyright <%= Time.now.year %>
    </footer>

  </body>
</html>
