<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header style="height: 1em; padding: 1em; margin-bottom: 1em; background: #0099CC;">
      Simple CMS
    </header>

    <div id="content" style="min-height: 400px;">
      <%= yield %>
    </div>

    <footer style="height: 1em; padding: 1em; margin-top: 1em; background: #0099CC;">
      Copyright <%= Time.now.year %>
    </footer>

  </body>
</html>
